<aside>
    <ul class="articles">
        <li><a href="#">Publicação - 1</a></li>
        <li><a href="#">Publicação - 2</a></li>
        <li><a href="#">Publicação - 3</a></li>
        <li><a href="#">Publicação - 4</a></li>
    </ul>
</aside>