---
layout: layout.njk
---

<main>
    <article>
        <h2 class="title"></h2>
        
        <img src="/images/danillo.jpg" alt="Fotos do Danillo" class="avatar"/>
        
        <h3 class="author">Danillo Acassio</h3>
        <div class="content">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi? Quibusdam atque maiores debitis et dolorum, veniam, tempore quae minima voluptates obcaecati, non accusamus modi dolorem reprehenderit consectetur rerum explicabo!
            </p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto at ut, cum id quis sunt laborum nobis adipisci ipsa minima ullam ea praesentium temporibus! Ducimus voluptas cum quaerat est nesciunt!
            </p>
        </div>
    </article>

    {% include 'sidebar.njk' %}
</main>